<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="{{ asset('build/styles.css') }}" rel="stylesheet"/>
    {% include 'view-param.html.twig' %}
{#    <script src="{{ asset('build/base.js') }}"></script>#}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{#<script src="{{ asset('build/app.js') }}"></script>#}
{% block javascripts %}
{% endblock %}

</body>
</html>
